html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.gradient-custom-2 {
    /* Fallback color */
    background: #f00; /* Bright red fallback for older browsers */
    /* Gradient from deep red to a brighter red, left to right */
    background: -webkit-linear-gradient(to right, #d50000, #ff1744);
    background: linear-gradient(to right, #d50000, #ff1744);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}