@page
@model MP_WebApplication.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h1><b style="color: red;"></b> Access denied</h1>
<p><a asp-area="" asp-page="/Login">Login</a></p>


