@page
@model MP_WebApplication.Pages.ProfileModel
@{
}

<div class="wrapper bg-white mt-sm-5">
    <h2 class="pb-4 border-bottom text-black text-center">Account settings</h2>
    <div class="d-flex justify-content-center py-2">
        <form method="post" asp-page-handler="Edit" class="w-75">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row py-2">
                <div class="col-md-6 offset-md-3">
                    <label for="firstname">First Name</label>
                    <input asp-for="FirstName" class="bg-light form-control" maxlength="20">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 offset-md-3">
                    <label for="lastname">Last Name</label>
                    <input asp-for="LastName" class="bg-light form-control" maxlength="20">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 offset-md-3">
                    <label for="email">Email</label>
                    <input asp-for="Email" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 offset-md-3">
                    <label for="phone">Phone Number</label>
                    <input asp-for="PhoneNumber" class="bg-light form-control" maxlength="12">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 offset-md-3">
                    <label for="birthday">Birth Day</label>
                    <input asp-for="BirthDay" type="text" class="bg-light form-control" value="@Model.BirthDay.ToString("dd-MM-yyyy")" readonly>
                </div>
            </div>
            <div class="py-3 pb-4 border-bottom text-center">
                <button type="submit" class="btn btn-primary mr-3">Save Changes</button>
            </div>
        </form>
    </div>
</div>
